@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	background: radial-gradient(
			circle at center,
			rgba(255, 255, 255, 0.6) 0%,
			transparent 60%
		),
		linear-gradient(180deg, #ffe1e1 0%, #ffc6a0 100%);
	background-blend-mode: screen;
}

h3 {
	margin: 0 0 15px;
	font-size: 1.75rem;
	line-height: 36px;
	font-family: 'inter', Arial, Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	gap: 2rem;
	padding: 3rem 2rem;
}

.item {
	margin: 0 15px 60px;
	width: 320px;
	height: 400px;
	display: flex;
	align-items: flex-end;
	background: #343434 no-repeat center center / cover;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
	transition: width 0.4s ease, box-shadow 0.4s ease;
	position: relative;
}

.item.active {
	width: 500px;
	box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.item::after {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.desc {
	padding: 0 24px 12px;
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transform: translateY(calc(100% - 54px));
	width: 100%;
	box-sizing: border-box;
}

.item.item.active .desc {
	transform: none;
}

.desc p {
	opacity: 0;
	transform: translateY(32px);
	transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	word-break: break-word;
	line-height: 1.8;
	font-size: 0.95rem;
	font-family: 'Poppins', sans-serif;
}

.item.active .desc p {
	opacity: 1;
	transform: translateY(0);
}
